Example/MonarchRouter.xcodeproj/xcuserdata/*
Example/MonarchRouter.xcworkspace/xcuserdata/*
Example/.build/*
Example/MonarchRouter.xcodeproj/project.xcworkspace/xcuserdata/*
Example/Pods/*
Example/MonarchRouter.xcworkspace/xcshareddata/*
