Example/MonarchRouterExample.xcodeproj/xcuserdata/*
Example/MonarchRouterExample.xcodeproj/project.xcworkspace/xcuserdata/*
Example/.build/*

Example/Pods/
*.xcworkspace

Example/Carthage/Build/

Example/Packages/
Example/Package.pins
Example/Package.resolved
.swiftpm
