Example/MonarchRouterExample.xcodeproj/xcuserdata/*
Example/MonarchRouterExample.xcworkspace/xcuserdata/*
Example/.build/*
Example/MonarchRouterExample.xcodeproj/project.xcworkspace/xcuserdata/*
Example/Pods/*
Example/MonarchRouterExample.xcworkspace/xcshareddata/*
